body{
  font-size: 30pt;
}
.container{
	width: 400px;
	color: white;
	margin:auto;
}

.box{
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
	background: rgba(88, 99, 156, 0.9);
	vertical-align:top;
	text-align: center;
  font-size: 120pt;
  line-height: 45%;
}
